
<h1>Welcome, <%= @dweller.name.humanize %></h1>

<p>Your contact info: <%= @dweller.email %></p>

<% if !@dweller.favorite_plant.blank? %>
  <p>Your favorite plant is <%= @dweller.favorite_plant %>!</p>
<% end %>

<br>
<% if !@dweller.home_id.blank? %>
  <h2> You live in <%= @dweller.home.nickname %> house!</h2>
 <h3>See your <a href="/homes/<%= @dweller.home.id %>">home</a> and plant care information?</h3>
<% else %>
  <h2>Add a home to your account <a href="/homes/new">here</a>!</h2>
  <% end %>

<br>

<h2>Your Plants: </h2>
<% if @dweller.plants.empty? %>
<h3>You don't have any plants yet.</h3>
<h3>Click <a href="/plants/new">here</a> to add some!</h3>
<% else %>
  <ul>
    <% @dweller.plants.each do |plant| %>
      <li><%= plant.common_name.humanize %></li>
    <% end %>
  </ul>
<% end %>

<h3>Add another <a href="/plants/new">plant</a> to your home?</h3>
