<h1>Edit plant: </h1>
<form action="/plants/<%= @plant.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <p>
    <label for="common_name">Common Name: </label>
    <input type="text" name="common_name" id="common_name" value="<%= @plant.common_name %>">
  </p>

  <p>
    <label for="scientific_name">Scientific Name: </label>
    <input type="text" name="scientific_name" id="scientific_name" value="<%= @plant.scientific_name %>">
  </p>

  <p>
    <label for="location">Location in Home: </label>
    <input type="text" name="location" id="location" value="<%= @plant.location %>">
  </p>

  <p>
  <label for="category">Plant Category: </label>
  <input type="text" name="category" id="category" value="<%= @plant.category %>">
  </p>

  <p>Size:
    <select name="size">
      <% ["small", "medium", "large"].each do |size| %>
        <option
          <%= 'selected' if @plant.size == size %>
          value="<%= size %>"
        >
          <%= size %>
        </option>
      <% end %>
    </select></p>

  <p>Watering Schedule:
    <select name="watering_schedule[value]">
      <% (1..10).each do |i| %>
        <option
          <%= @plant.watering_schedule['value'].to_i == i ? 'selected' : '' %>
          value="<%= i %>"
        >
          <%= i %>
        </option>
      <% end %>
    </select>

      time(s) per

    <select name="watering_schedule[frequency]">
      <% ["day", "week", "month", "season"].each do |freq| %>
        <option
          <%= 'selected' if @plant.watering_schedule['frequency'] == freq %>
          value="<%= freq %>"
        >
          <%= freq %>
        </option>
      <% end %>
    </select></p>

  <p>Rotation Schedule:
  <select name="rotation_schedule[value]">
    <% (1..10).each do |i| %>
      <option
        <%= @plant.rotation_schedule['value'].to_i == i ? 'selected' : '' %>
        value="<%= i %>"
      >
        <%= i %>
      </option>
    <% end %>
  </select>

    time(s) per

  <select name="rotation_schedule[frequency]">
    <% ["day", "week", "month", "season"].each do |freq| %>
      <option
        <%= 'selected' if @plant.rotation_schedule['frequency'] == freq %>
        value="<%= freq %>"
      >
        <%= freq %>
      </option>
    <% end %>
  </select></p>

  <p>Fertilization Schedule:
  <select name="fertilization_schedule[value]">
    <% (1..10).each do |i| %>
      <option
        <%= @plant.fertilization_schedule['value'].to_i == i ? 'selected' : '' %>
        value="<%= i %>"
      >
        <%= i %>
      </option>
    <% end %>
  </select>

    time(s) per

  <select name="fertilization_schedule[frequency]">
    <% ["day", "week", "month", "season"].each do |freq| %>
      <option
        <%= 'selected' if @plant.fertilization_schedule['frequency'] == freq %>
        value="<%= freq %>"
      >
        <%= freq %>
      </option>
    <% end %>
  </select></p>

  <br>

  <input type="submit" value="Update">
</form>
