<h1>Enter a new plant here: </h1>
<form action="/plants" method="post">
  <p>
    <label for="common_name">Common Name: </label>
    <input type="text" name="common_name" id="common_name">
  </p>

  <p>
    <label for="scientific_name">Scientific Name: </label>
    <input type="text" name="scientific_name" id="scientific_name">
  </p>

  <p>
    <label for="location">Location in Home: </label>
    <input type="text" name="location" id="location">
  </p>

  <p>
  <label for="category">Plant Category: </label>
  <input type="text" name="category" id="category" value="herb, cactus, etc">
  </p>

  <p>Size:
    <select name="size">
      <% ["small", "medium", "large"].each do |size| %>
        <option value="<%= size %>"><%= size %></option>
      <% end %>
    </select></p>

  <p>Watering Schedule:
    <select name="watering_schedule[value]">
      <%(1..10).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
    time(s) per
    <select name="watering_schedule[frequency]">
      <% ["day", "week", "month", "season"].each do |freq| %>
        <option value="<%= freq %>"><%= freq %></option>
      <% end %>
    </select></p>

  <p>Fertilization Schedule:
    <select name="fertilization_schedule[value]">
      <%(1..10).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
    time(s) per
    <select name="fertilization_schedule[frequency]">
      <% ["day", "week", "month", "season"].each do |freq| %>
        <option value="<%= freq %>"><%= freq %></option>
      <% end %>
    </select></p>

  <p>Rotation Schedule:
    <select name="rotation_schedule[value]">
      <%(1..10).each do |i| %>
        <option value="<%= i %>"><%= i %></option>
      <% end %>
    </select>
    time(s) per
    <select name="rotation_schedule[frequency]">
      <% ["day", "week", "month", "season"].each do |freq| %>
        <option value="<%= freq %>"><%= freq %></option>
      <% end %>
    </select></p>

  <p>
    <label for="add_to_home">Add this plant to your collection at <%= @dweller.home.nickname %>, <%= @dweller.name %>?</label>
    <br>
    <input type="radio" name="add_to_home" id="add_to_home" value="yes"> yes
    <input type="radio" name="add_to_home" id="add_to_home" value="no"> no
  </p>

  <button type="submit">Create!</button>
</form>
