<h1><%= @plant.common_name.humanize %></h1>

<h3><%= @plant.scientific_name %></h3>

<br>
<h2>Popular with PlantDwellers in these hardiness zones: </h2>
<% if !@homes.empty? %>
  <% @homes.each do |home| %>
    <p><%= home.hardiness_zone %>;</p>
  <% end %>
<% else %>
  <p>No PlantDweller users have planted this yet. Click here to add this to your home!</p>
<% end %>

<br>

<h2>Plant Care Schedule</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Watering Schedule</th>
    <th>Rotation Schedule</th>
    <th>Fertilization Schedule</th>
  </tr>
  <tr>
    <td><%= @plant.common_name.humanize %></td>
    <% water = @plant.watering_schedule.split("\"") %>
    <td><%= water[3] %> time(s) per <%= water[7] %></td>
    <% rotation = @plant.rotation_schedule.split("\"") %>
    <td><%= rotation[3] %> time(s) per <%= rotation[7] %></td>
    <% fertilize = @plant.fertilization_schedule.split("\"") %>
    <td><%= fertilize[3] %> time(s) per <%= fertilize[7] %></td>
  </tr>

  </table>

  <br>
  <br>

  <% if @plant.dweller == @dweller %>
    <form action="/plants/<%= @plant.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form></p>
  <% end %>
