<h1><%= @plant.common_name.humanize %></h1>

<h3><%= @plant.scientific_name %></h3>

<br>
<h2>Popular with PlantDwellers in these hardiness zones: </h2>
<% if !@homes.empty? %>
  <% @homes.each do |home| %>
    <p><%= home.hardiness_zone %>;</p>
  <% end %>
<% else %>
  <p>No PlantDwellers have planted this yet.</p>
<% end %>

<br>

<h2>Plant Care Schedule</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Watering Schedule</th>
    <th>Rotation Schedule</th>
    <th>Fertilization Schedule</th>
  </tr>
  <tr>
    <td><%= @plant.common_name.humanize %></td>
    <% water = @plant.watering_schedule %>
    <% rotation = @plant.rotation_schedule %>
    <% fertilize = @plant.fertilization_schedule %>

    <td><%= water['value'] %> time(s) per <%= water['frequency'] %></td>
    <td><%= rotation['value'] %> time(s) per <%= rotation['frequency'] %></td>
    <td><%= fertilize['value'] %> time(s) per <%= fertilize['frequency'] %></td>
    </tr>
  </table>

  <br>
  <br>

  <% if @plant.dweller == @dweller %>
    <h4>Edit plant <a href="/plants/<%= @plant.id %>/edit">here</a></h4>
    <p>or</p>
    <h4>Click to delete</h4>
    <form action="/plants/<%= @plant.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  <% end %>
