<h1><%= @plant.common_name.humanize %></h1>

<h3><%= @plant.scientific_name %></h3>

<br>
<h2>Popular with PlantDwellers in these hardiness zones: </h2>
<% if !@homes.empty? %>
  <% @homes.each do |home| %>
    <p><%= home.hardiness_zone %>;</p>
  <% end %>
<% else %>
  <p>No PlantDweller users have planted this yet. Click here to add this to your home!</p>
<% end %>

<br>

<h2>Plant Care Schedule</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Watering Schedule</th>
    <th>Rotation Schedule</th>
    <th>Fertilization Schedule</th>
  </tr>
  <tr>
      <td><%= @plant.common_name %></td>
      <td><%= @plant.watering_schedule%></td>
      <td><%= @plant.rotation_schedule %></td>
      <td><%= @plant.fertilization_schedule %></td>
    </tr>
  </table>

  <br>

  <h4>Click <a href="/plants">here</a> to return to full plant list.</h4>
